.bVerde5{
    background-color: #36D877;
}

.selecStd2 {
    border: 1px solid #b6b6b6;
    padding: 4px 10px;
    width: 100%;
}
.selecStd3 {
    border: 1px solid #b6b6b6;
    padding: 6px;
    width: 57%;
}

.selecStd4 {
    border: 1px solid #b6b6b6;
    padding: 3px;
    width: 57%;
    color: #666;
}

.bGray5 {
    background-color: #BDBDBD;
}

a.blue-active[aria-expanded="true"] {
    background-color:#50a0d2 !important;
    color:white;
    background-image: url("../../resources/img/icons/arFaq11.png") !important;
}

a.acordion-bykr[aria-expanded="true"] {
    background-image: url("../../resources/img/icons/arFaq11.png") !important;
}

a.acordion-color[aria-expanded="true"] strong{
    color: #48a8b8;
}

a.acordion-bykr {
    padding: 10px 30px 10px 10px !important;
}

a.acordion-bykr2 {
    padding: 17px 40px 17px 20px !important;
}

.btn-bykr{
	padding: 5px 16px;
}

.titSep-bykr {
    border-bottom: 1px solid #999999;
    margin: 8px 0;
    padding: 8px 3px;
}

.btn-radius-bykr {
	border-radius: 14px !important;
}

.input-bykr{
    border: none !important;
    border-radius: 0px !important;
    box-shadow: none !important;
}

.input-bykr:focus {
    border-color: transparent !important;
    box-shadow: none !important;
}

.fwN {
    font-weight: normal;
}

.pR0 {
    padding-right: 0px;
}

tr.bBeycker:hover{
    background-color: #cff0db !important;
}