.tableHover, .menu-bykr3 a, .menuVisorH, .menuDetalle span, tr.bBeycker, .bykrHober3, .menuAzul a, .menuAzul2 a, 
.menuAzul3 a, .menuAzulC a  {
    transition: all 200ms ease-in 0s;
}

.bVerde5{
    /*background-color: #36D877;*/
    background-color:  #25b76c;
}

.colorVerde5{
    color:  #25b76c;
}

.selecStd2 {
    border: 1px solid #b6b6b6;
    padding: 4px 10px;
    width: 100%;
}
.selecStd3 {
    border: 1px solid #b6b6b6;
    padding: 6px;
    width: 57%;
}

.selecStd4 {
    border: 1px solid #b6b6b6;
    padding: 3px;
    width: 57%;
    color: #666;
}

.selStd5 {
    /*background: #f1f1f1 url("../../resources/img/icons/arrSel.png") no-repeat scroll right center;*/
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    height: 34px;
    padding: 5px 8px;
    width: 100%;
}

.bGray5 {
    background-color: #BDBDBD;
}

a.blue-active[aria-expanded="true"] {
    background-color:#50a0d2 !important;
    color:white;
    background-image: url("../../resources/img/icons/arFaq11.png") !important;
}

a.acordion-bykr[aria-expanded="true"] {
    background-image: url("../../resources/img/icons/arFaq11.png") !important;
}

a.acordion-color[aria-expanded="true"] strong{
    color: #48a8b8;
}

a.acordion-bykr {
    padding: 10px 30px 10px 10px !important;
}

a.acordion-ruta {
  padding: 10px 28px 10px 10px !important;
}

.mFuq2 .panel-heading .panel-title a.acordion-ruta {
    background: #eee url("../../resources/img/icons/minus.png") no-repeat scroll right center !important;
}

.mFuq2 .panel-heading .panel-title a.acordion-ruta.collapsed {
    background: #eee url("../../resources/img/icons/more.png") no-repeat scroll right center !important;
}

a.acordion-ruta2 {
  padding: 10px 28px 10px 10px !important;
}

.mFuq2 .panel-heading .panel-title a.acordion-ruta2 {
    background: #eee url("../../resources/img/icons/minus2.png") no-repeat scroll right center !important;
}

.mFuq2 .panel-heading .panel-title a.acordion-ruta2.collapsed {
    background: #eee url("../../resources/img/icons/more2.png") no-repeat scroll right center !important;
}

a.acordion-bykr2 {
    padding: 17px 40px 17px 20px !important;
}

.btn-bykr{
	padding: 5px 16px;
}

.titSep-bykr {
    border-bottom: 1px solid #999999;
    margin: 8px 0;
    padding: 8px 3px;
}

.btn-radius-bykr {
	border-radius: 14px !important;
}

.input-bykr{
    border: none !important;
    border-radius: 0px !important;
    box-shadow: none !important;
}

.input-bykr:focus {
    border-color: transparent !important;
    box-shadow: none !important;
}

.fwN {
    font-weight: normal;
}

.pR0 {
    padding-right: 0px;
}

.pL0 {
    padding-left: 0px;
}

tr.bBeycker:hover{
    background-color: #cff0db !important;
}

.limite800                                  { max-width:800px; margin:0 auto; }
.limite1000                                  { max-width:1000px; margin:0 auto; }

.pT10                                       { padding-top: 10px; }

.bykrHr                                     { margin: 15px 0px; border-color: #ccc; }

.rr0                                        { border-radius: 0; }

.input-bykrF{
    border: 1px solid #ccc !important;
    border-color: #ccc !important;
    box-shadow: none !important;
}

.input-bykrF:focus{
    border: 1px solid #ccc !important;
    border-color: #ccc !important;
    box-shadow: none !important;
}

.menu-bykr li.active > a{
    color: white !important;
    background-color: #48a8b8 !important;
    border-radius: 5px;
}

.menu-bykr li > a:hover{
    border-radius: 5px;
}

.pMenu{
    padding-right: 40px !important;
    padding-left: 40px !important;
}

.menu-bykr2 li.active > a{
    color: #0e4492 !important;
    background-color: white !important;
}

.menu-bykr3 li.active > a{
    color: #fff !important;
    background-color: #1AC496 !important;
}

.lH13 li {
    line-height: 1.3;
}

.mHcontComida {
    min-height: 130px;
}

.bPurple                                    { background-color: #DEC9E9; }
.bRosa                                      { background-color: #FABDEE; }

.liSemana td, .liSemana th {
    padding: 10px 0 10px 15px !important;
    vertical-align: top !important;
}

.liSemana li {
    margin-left: 10px;
}

.bordeTabla {
    border-right: 1px solid #fff;
}

.tableHover:hover {
    background-color: #e5f6fe !important;
}

.pTable td, .pTable th {
    padding:  10px 0px 10px 15px !important;
}

.bAzulComida{
    background-color: #d8ecfc;
}

.menuVisorH:hover                           { background-color: #ebebeb; color: #000; font-family: "Open Sans",sans-serif; font-weight: 700; }
.menuDetalle span:hover                     { color: #333; font-family: "Open Sans",sans-serif; font-weight: 700; }

.bykrHober3                                 { border: 1px solid transparent; }
.bykrHober3:hover                           { background-color: #E0ECF8; border: 1px solid #25b76c; }

.unidadD                                    { border: 1px solid transparent; }
.unidadA                                    { background-color: #E0ECF8; border: 1px solid #25b76c; }

.menu-bykr li.active > a {
    background-color: #7f95a3 !important;
    border-radius: 5px;
    color: white !important;
}

.asistencia-bykr label{
    background-color: #fff !important;
    color: #888 !important;
}

.asistencia-bykr label.asistencia-p.active{
    background-color: #25b76c !important;
    color: #fff !important;
}

.asistencia-bykr label.asistencia-t.active{
    background-color: #FF8000 !important;
    color: #fff !important;
}

.asistencia-bykr label.asistencia-a.active{
    background-color: #DF0101 !important;
    color: #fff !important;
}

.bFondoMapa{
    background-image: url("../../resources/img/temporal/fondomapa.png");
    background-position: center center;
}

.menuAzul                               { background-color: #4d90fe; color: #fff; }
.menuAzul2                              { background-color: #4d90fe; color: #fff; }

.iconruta1                              { width: 49px; height: 30px; background-image: url("../../resources/img/icons/iconruta11.png"); background-repeat: no-repeat; }
.iconruta2                              { width: 47px; height: 30px; background-image: url("../../resources/img/icons/iconruta22.png"); background-repeat: no-repeat; }
.iconruta3                              { width: 51px; height: 30px; background-image: url("../../resources/img/icons/iconruta33.png"); background-repeat: no-repeat; }
.iconruta4                              { width: 32px; height: 30px; background-image: url("../../resources/img/icons/iconruta44.png"); background-repeat: no-repeat; }
.iconruta5                              { width: 31px; height: 30px; background-image: url("../../resources/img/icons/iconruta55.png"); background-repeat: no-repeat; }

.menuAzul li.active a                   { background-color: #fff !important; }
.menuAzul li a:hover                    { background-color: #ddd !important; }
.menuAzul li.active span                { color: #4d90fe !important; }

.menuAzul2 li.active                    { background-color: #ebebeb !important; }
.menuAzul2 li a:hover                   { background-color: #ccc !important; }

li.active .iconruta1                    { width: 49px; height: 30px; background-image: url("../../resources/img/icons/iconruta1.png"); background-repeat: no-repeat; }
li.active .iconruta2                    { width: 47px; height: 30px; background-image: url("../../resources/img/icons/iconruta2.png"); background-repeat: no-repeat; }
li.active .iconruta3                    { width: 51px; height: 30px; background-image: url("../../resources/img/icons/iconruta3.png"); background-repeat: no-repeat; }
li.active .iconruta4                    { width: 32px; height: 30px; background-image: url("../../resources/img/icons/iconruta4.png"); background-repeat: no-repeat; }
li.active .iconruta5                    { width: 31px; height: 30px; background-image: url("../../resources/img/icons/iconruta5.png"); background-repeat: no-repeat; }

.iconencuesta1                          { width: 30px; height: 29px; background-image: url("../../resources/img/icons/iconencuesta11.png"); }
.iconencuesta2                          { width: 27px; height: 27px; background-image: url("../../resources/img/icons/iconencuesta22.png"); }
.iconencuesta3                          { width: 31px; height: 20px; background-image: url("../../resources/img/icons/iconencuesta33.png"); }

li.active .iconencuesta1                { width: 30px; height: 29px; background-image: url("../../resources/img/icons/iconencuesta1.png"); }
li.active .iconencuesta2                { width: 27px; height: 27px; background-image: url("../../resources/img/icons/iconencuesta2.png"); }
li.active .iconencuesta3                { width: 31px; height: 20px; background-image: url("../../resources/img/icons/iconencuesta3.png"); }

.iconrecorrido1                         { width: 28px; height: 30px; background-image: url("../../resources/img/icons/iconrecorrido11.png"); background-repeat: no-repeat; }
.iconrecorrido2                         { width: 27px; height: 30px; background-image: url("../../resources/img/icons/iconrecorrido22.png"); background-repeat: no-repeat; }
.iconrecorrido3                         { width: 42px; height: 30px; background-image: url("../../resources/img/icons/iconrecorrido33.png"); background-repeat: no-repeat; }
.iconrecorrido4                         { width: 52px; height: 30px; background-image: url("../../resources/img/icons/iconrecorrido44.png"); background-repeat: no-repeat; }
.iconrecorrido5                         { width: 30px; height: 30px; background-image: url("../../resources/img/icons/iconrecorrido55.png"); background-repeat: no-repeat; }

li.active .iconrecorrido1               { width: 28px; height: 30px; background-image: url("../../resources/img/icons/iconrecorrido1.png"); background-repeat: no-repeat; }
li.active .iconrecorrido2               { width: 27px; height: 30px; background-image: url("../../resources/img/icons/iconrecorrido2.png"); background-repeat: no-repeat; }
li.active .iconrecorrido3               { width: 42px; height: 30px; background-image: url("../../resources/img/icons/iconrecorrido3.png"); background-repeat: no-repeat; }
li.active .iconrecorrido4               { width: 52px; height: 30px; background-image: url("../../resources/img/icons/iconrecorrido4.png"); background-repeat: no-repeat; }
li.active .iconrecorrido5               { width: 30px; height: 30px; background-image: url("../../resources/img/icons/iconrecorrido5.png"); background-repeat: no-repeat; }

.menuAzulC li.active a                  { color: #48a8b8 !important; background-color: #fff !important; }
.menuAzul3 li.active a                  { color: #4d90fe !important; background-color: #fff !important; }



.fondomapa{
    background-image: url("../../resources/img/temporal/mapatab1.png");
    background-position: center center;
    height: 693px;
}

.fondomapa2{
    background-image: url("../../resources/img/temporal/detalle-mapa.png");
    background-position: center center;
    height: 557px;
}

.fondomapa3{
    background-image: url("../../resources/img/temporal/mapa-det-est.png");
    background-position: right center;
    height: 557px;
}

.fondomapa4{
    background-image: url("../../resources/img/temporal/mapa-recorrido.png");
    background-position: right center;
    height: 557px;
}

.bpointBlue li {
    color: #58D3F7;
}

a.vWhite:hover {
    color: #333 !important;
}

a.vWhite:visited {
    color: #fff;
}

.colorVerdeTi{
    color: #48a8b8;
}

.bRojoBoton{
    background-color:#bf0411;
}

.bRedB {
    background-color: #b40404;
}

.bFondoPae{
    background-image: url("../../resources/img/temporal/fondopae3.png");
    background-position: right top;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Estilos del input range */

input[type=range].stramboticRange {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
}

input[type=range].stramboticRange::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range].stramboticRange:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range].stramboticRange::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent; /* Hides the slider so custom styles can be added */
  border-color: transparent;
  color: transparent;
}

/* Special styling for WebKit/Blink */
input[type=range].stramboticRange::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 3px solid #567d86;
  height: 36px;
  width: 36px;
  border-radius: 50px;
  background: #0b3740;
  cursor: pointer;
  margin-top: -12px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  /*box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}

/* All the same stuff for Firefox */
input[type=range].stramboticRange::-moz-range-thumb {
  /*box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;*/
  border: 3px solid #567d86;
  height: 36px;
  width: 36px;
  border-radius: 50px;
  background: #0b3740;
  cursor: pointer;
}

/* All the same stuff for IE */
input[type=range].stramboticRange::-ms-thumb {
  /*box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;*/
  border: 3px solid #567d86;
  height: 36px;
  width: 36px;
  border-radius: 50px;
  background: #0b3740;
  cursor: pointer;
}

input[type=range].stramboticRange::-webkit-slider-runnable-track {
  width: 100%;
  height: 15.4px;
  cursor: pointer;
  /*box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;*/
  background: #6cadbb;
  border-radius: 5px;
  /*border: 0.2px solid #010101;*/
}

input[type=range].stramboticRange:focus::-webkit-slider-runnable-track {
  background: #6cadbb;
}

input[type=range].stramboticRange::-moz-range-track {
  width: 100%;
  height: 15.4px;
  cursor: pointer;
  /*box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;*/
  background: #6cadbb;
  border-radius: 5px;
  /*border: 0.2px solid #010101;*/
}

input[type=range].stramboticRange::-ms-track {
  width: 100%;
  height: 15.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range].stramboticRange::-ms-fill-lower {
  background: #6cadbb;
  /*border: 0.2px solid #010101;*/
  border-radius: 5px;
  /*box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;*/
}
input[type=range].stramboticRange:focus::-ms-fill-lower {
  background: #6cadbb;
}
input[type=range]::-ms-fill-upper {
  background: #6cadbb;
  /*border: 0.2px solid #010101;*/
  border-radius: 5px;
  /*box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;*/
}
input[type=range].stramboticRange:focus::-ms-fill-upper {
  background: #6cadbb;
}

/* Fin de Estilos del input range */

/* Estilos del checkbox*/

input[type=checkbox].stramboticCheck:not(old),
input[type=radio   ].stramboticCheck:not(old){
  width     : 2em;
  margin    : 0;
  padding   : 0;
  font-size : 1em;
  opacity   : 0;
}

input[type=checkbox].stramboticCheck:not(old) + label,
input[type=radio   ].stramboticCheck:not(old) + label{
  display      : inline-block;
  margin-left  : -2em;
  line-height  : 1.5em;
   -ms-transform: scale(0.98); /* IE */
  -moz-transform: scale(0.98); /* FF */
  -webkit-transform: scale(0.98); /* Safari and Chrome */
  -o-transform: scale(0.98); /* Opera */
  padding: 5px;
}

input[type=checkbox].stramboticCheck:not(old) + label > span,
input[type=radio   ].stramboticCheck:not(old) + label > span{
  display          : inline-block;
  width            : 1.745em;
  height           : 1.745em;
  /*margin           : 0.25em 0.5em 0.25em 0.25em;*/
  border           : 1px solid rgb(120,120,120);
  border-radius    : 0;
  background       : rgb(224,224,224);
  background-image :    -moz-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :     -ms-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :      -o-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image : -webkit-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :         linear-gradient(rgb(240,240,240),rgb(224,224,224));
  vertical-align   : bottom;
  -ms-transform: scale(0.98); /* IE */
  -moz-transform: scale(0.98); /* FF */
  -webkit-transform: scale(0.98); /* Safari and Chrome */
  -o-transform: scale(0.98); /* Opera */
  padding: 5px;
}

input[type=checkbox].stramboticCheck:not(old):checked + label > span,
input[type=radio   ].stramboticCheck:not(old):checked + label > span{
  background-image :    -moz-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image :     -ms-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image :      -o-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image : -webkit-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image :         linear-gradient(rgb(224,224,224),rgb(240,240,240));
}

input[type=checkbox].stramboticCheck:not(old):checked + label > span:before{
  content     : '✓';
  display     : block;
  width       : 1em;
  color       : rgb(153,204,102);
  font-size   : 1.3em;
  line-height : 0.8em;
  text-align  : top;
  text-shadow : 0 0 0.015em rgb(115,153,77);
  font-weight : bold;
}

input[type=radio].stramboticCheck:not(old):checked +  label > span > span{
  display          : block;
  width            : 0.5em;
  height           : 0.5em;
  margin           : 0.125em;
  border           : 0.0625em solid rgb(115,153,77);
  border-radius    : 0.125em;
  background       : rgb(153,204,102);
  background-image :    -moz-linear-gradient(rgb(179,217,140),rgb(153,204,102));
  background-image :     -ms-linear-gradient(rgb(179,217,140),rgb(153,204,102));
  background-image :      -o-linear-gradient(rgb(179,217,140),rgb(153,204,102));
  background-image : -webkit-linear-gradient(rgb(179,217,140),rgb(153,204,102));
  background-image :         linear-gradient(rgb(179,217,140),rgb(153,204,102));
}

.fileUpload {
    position: relative;
    overflow: hidden;
    /*margin: 10px;*/
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.mapRuta {
  position: absolute;
  z-index: 10;
  width: 100% !important;
  height: auto;
}

.menuRuta {
  position: absolute;
  z-index: 10;
  width: 100% !important;
  height: auto;
}

.mapRuta iframe {
  margin: 0 !important;
  border: 0 !important;
  padding: 0 !important;
}

.conteRuta {
  position: absolute;
  z-index: 20;
  width: 350px;
  height: auto;
  top: 50px;
  overflow: auto;
  right: 20px;
}

.conteRuta2 {
  position: absolute;
  z-index: 20;
  width: 350px;
  height: auto;
  top: 150px;
  overflow: auto;
  left: 150px;
}

.conteRuta3 {
  position: absolute;
  z-index: 20;
  width: 400px;
  height: auto;
  top: 50px;
  overflow: auto;
  right: 20px;
}

.conteRuta4 {
  position: absolute;
  z-index: 20;
  width: 100%;
  height: auto;
  top: 400px;
  overflow: auto;
  left: 0px;
  background-color: rgba(150, 150, 150, 0.8);
}

.paradasRuta {
  position: absolute;
  z-index: 20;
  width: auto;
  height: auto;
  overflow: auto;
}

.maxSize, .maxSizeCR, .maxSizeCR2, .maxSizeCR3 {
  overflow: scroll;
}

.iconNotificacion         { width: 30px; height: 31px; background-image: url("../../resources/img/icons/globonotificacion.png"); background-repeat: no-repeat; }
.iconNotificacion2         { width: 51px; height: 47px; background-image: url("../../resources/img/icons/globonotificacion2.png"); background-repeat: no-repeat; }