.selecStd2 {
    border: 1px solid #b6b6b6;
    padding: 4px 10px;
    width: 100%;
}
.selecStd3 {
    border: 1px solid #b6b6b6;
    padding: 6px;
    width: 57%;
}

.bGray5 {
    background-color: #BDBDBD;
}

a.blue-active[aria-expanded="true"] {
    background-color:#50a0d2 !important;
    color:white;
}

a.acordion-bykr {
    padding: 10px 30px 10px 10px !important;
}

a.acordion-bykr2 {
    padding: 17px 40px 17px 20px !important;
}