/* estilos para lainstitucion.php / materias */

/* materias */
.bMat { background-color:#F90; }
.bLyl { background-color:#be9989; }
.bBio { background-color:#2393db; }
.bSoc { background-color:#e33b25; }
.bLex { background-color:#18a7af; }
.bFcv { background-color:#f4d762; }
.bEdf { background-color:#ab8fc9; }
.bQui { background-color:#73c996; }
.bFil { background-color:#8a2273; }
.bFil b { text-align: center; }

.materia_x {
  text-align: center;
  margin-top: 130px;
}
.materia_con {
  height: 200px;
  display: inline-block;
}
.materia {
  margin: 20px;
  width: 120px;
  height: 120px;
  background-color: #d6dadc;
  border-radius: 50%;
  vertical-align: text-top;
}
.materia[data-progress="50"] .circle .mask .full, .materia[data-progress="50"] .circle .fill {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.mask {
  clip: rect(0px, 120px, 120px, 60px);
}
.mask, .materia, .fill,  .shadow {
  width: 120px;
  height: 120px;
  position: absolute;
  border-radius: 50%;
}
.shadow {
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.2) inset;
}
.fill {
  clip: rect(0px, 60px, 120px, 0px);
  background-color: #d10f12;
}
.numbers span {
  width: 57px ;
  display: inline-block ;
  vertical-align: top ;
  text-align: center ;
  font-weight: 800 ;
  font-size: 22px ;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif ;
  color: #30393e ;
}
.inset {
    width: 90px;
    height: 90px;
    position: absolute;
    margin-left: 15px;
    margin-top: 15px;
    background-color: #fbfbfb;
    border-radius: 50%;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.2);
}
.percentage {
  height: 22px;
  width: 57px;
  overflow: hidden;
  position: absolute;
  top: 34px;
  left: 16.5px;
  line-height: 1;
}
.fv_pir1 span {
  font-size: 0.5em;
  vertical-align: 20%;
}
.fv_fn span {
  font-weight: normal !important;
}
.fv_ultc1, .fv_ultc {
  margin-bottom: 10px;
}
.fv_ultc {
  margin: 0 0 5px 10px;
}
.fv_flod {
  top:-10px;
  float: right;
  position: inherit;
}
.fv_ultc0 p {
  color: #ccc;
}
.fv_uc {
  margin-bottom: 20px;
}
.fv_ucp {
  margin-bottom: 10px;
  margin-top: 20px;
  font-weight: 600;
}
.fv_materias {
  padding-top: 20px;
}
.fv_materHover {
  background-color: #dff6fe;
  border: solid 1px #FFFFFF;
  height: 50px; 
}
.fv_materNormal {
  border: solid 1px #FFFFFF !important;
  height: 50px;
  text-align: center;
}
.fv_completo {
  padding-bottom: 3%; 
}
.mb0 {
  margin-bottom: 10px !important;
}
.bleu {
  background-color: #cff0db !important;
}
.fv_span span {
  line-height: 2em;
}
.fv_lm {
  width: 33%;
  padding: 10px 5px 10px 20px;
  vertical-align: top;
}

/* plataforma/profesor/gestion-grados */

.fv_verde1 { background-color: #31c96a; color: #fff; }
.fv_mt50 { margin-top:80px;}
.fv_bleu { color: #48a8b8; font-size: 30px; font-weight: 600;}
.fv_fe { 
  color: #000 !important;
  background: #e1e1e1 !important;
  padding: 10px !important;
  font-size: 20px !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.fv_fe1 {
  background: #fff url(../../resources/img/icons/fv_abj.png) right center no-repeat !important;
  color: #8a8a8a !important;
  background-color: #fff !important;
  font-size: 20px !important;
  padding: 10px !important;
  line-height: 25px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.fv_nobg {
  background: none !important;
}
.fv_full a {
  width: 85% !important;
  padding: 15px;
  border:solid 1px #d1d1d1;
}

/* //////////////////////////// */
/* plataforma/profesor/materia */
/* ////////////////////////// */

/* boton */

.fv_btn1 {
  width: 60% !important;
  background-color: transparent !important;
  border: solid 1px #ccc !important;
}
.fv_btn1:hover {
  background-color: #25b76c !important;
  color: #fff !important;
}

.fv_btn1a { margin-top: 100px; background-color: #fff !important; }
.fv_btn1b { margin-top: 60px; }
.fv_btn1c { margin-top: 80px; }
  
/* próxima clase */

.fv_pc1 { padding-top: 35px !important;}

/* rendimiento por logros */

.fv_rpl1 { background-color: #e9bc00; font-size: 1.2em; }
.fv_rpl1b a { border-radius: 10px !important; border: solid 1px #9a9a9a !important; width: 75px; }


/* promedio */

.fv_verde1 { background-color: #84d206; }
.fv_gris1 { background-color: #c5c5c5; }

.fv_promedio { padding-top: 40px; width: 100%; }
.fv_promedio_t { padding-bottom: 10px; }
.fv_prom1 { clear: both; padding: 10px;}

.fv_per {
   margin:20px 0 8px; padding:8px 3px;
   text-align: center;
}

.fv_prom_cont { width:100%; position:relative; overflow:hidden; }


/* ausencias sin justificar */

.fv_btn1x {
  width: 150px !important;
  background-color: #dddddd !important;
  color: #5a5a5a !important;
  text-transform: none !important;
  font-weight: 400 !important;
  border: none !important;
}

.fv_btn2x {
  width: 115px !important;
  background-color: #25b76c !important;
  color: #fff !important;
  text-transform: none !important;
  font-weight: 400 !important;
  border: none !important;
}
.fv_btn2x:hover {
  background-color: #5a5a5a !important;
}
.fv_blanco {
  background-color: #fff !important;
}
.fv_asj {
  width: 100% !important;
  clear: both;
  padding-top: 25px;
}

.fv_hr hr {
    margin: 5px -20px 20px -20px !important;
    border: 0 !important;
    border-top: 1px solid #ddd !important;
}
.fv_amp > tr > td {
  border-top: 1px solid transparent !important;
}