@charset "utf-8";

/* CSS Document */

@media only screen and (min-width: 1079px) and (max-width: 1280px) {
	.onlyOoa							{ display:none; }
}


@media only screen and (min-width: 1400px) {
	.onlySmart							{ display:none; }
	.onlyPC								{ }
	#wowslider-container1  .ws_navega 	{ top:80% !important; } 
}
@media only screen and (min-width: 1079px) and (max-width: 1399px) {
	.onlySmart							{ display:none; }
	.onlyPC								{ }
	

	
}



@media only screen and (min-width: 768px) and (max-width: 1079px) {
	body								{ font-size:12px; }
	.onlySmart							{ }
	.onlyPC								{ display:none; }
	
	.t100								{ font-size:4.71em; line-height:1em; }
	.t160								{ font-size:7.086em; line-height:1em; }
	
	.menuion							{ height:auto; }
	
	.navbar-header						{ padding:0; margin:0; border:0; height:80px; display:block; width:100% }
	.navbar-brand						{ padding:0; float:none; display:block; width:100%; text-align:center !important;  }
	.navbar-brand img					{ height:80px; text-align:center !important; float:none; margin:0 auto}
	
	.navbar-nav							{ display:table !important; width:100% !important; }
	.navbar-nav > li					{ display:table-cell; width:25% !important; }
	
	#wowslider-container1 .ws-title{
		font-size:50px !important;
		line-height:45px !important;
		width:80% !important;
	}
	#wowslider-container1 .ws-title div{

		font-size:16px !important;
		line-height:16px !important;
		width:80% !important;
	}
	
	#wowslider-container1  .ws_navega 	{ display:none; }
	.iconSer							{ min-height:100px; padding-left:120px; background-size:100px; }
	
	.t80								{ font-size:4em; line-height:1em; }
	.t30M								{ font-size:1.8em; line-height:1em; }
	
	.icoinv1,.icoinv2,.icoinv3			{ padding-right:50px; min-height:85px; background-size:80px; }
	.icotengo1,.icotengo2,.icotengo3	{ padding-right:50px; min-height:85px; background-size:80px; }
	.bgPlata1							{ background-size:100px; padding-right:100px; min-height:110px; }
	.bgPlata2							{ background-size:100px; padding-right:100px; min-height:110px; }
	
	.modulex .nav-tabs li a img,
	.modulex .nav-tabs li.active a img 	{ display:block; margin:0 auto; }
	
	.onlyOoa							{ display:none; }
	
	.projectt							{  }
	.tipoProj							{ width:50px; }
	
	
}

@media only screen and (min-width: 482px) and (max-width: 767px) {
	body								{ font-size:11px; }
	.onlySmart							{ }
	.onlyPC								{ display:none; }
	
	.t100								{ font-size:4.71em; line-height:1em; }
	.t160								{ font-size:7.086em; line-height:1em; }
	
	.projectt							{ float:left; width:46%; margin:0 2% 30px; }
	.tipoProj							{ width:40px; }

}

@media only screen and (max-width: 481px) {
	body								{ font-size:11px; }
	.onlySmart							{ }
	.onlyPC								{ display:none; }
	
	
	.triBloq							{ float:none; width:70%; margin:0 auto 30px; }
	.onlyOoa							{ display:none; }
	
	.projectt							{ float:none; width:90%; margin:0 5% 30px; }
	.tipoProj							{ width:40px; }

}



/* BOOTSTRAP */


@media (min-width: 768px) {
	
	.onlySmartBoo						{ display:none; }
	.onlyPCBoo							{ }
	
	.regTab										{ margin:0; }
	.regTab .nav								{ border:0; width:100%; border:0; }
	.regTab .nav-tabs							{ border:0; height:auto; }
	.regTab .nav-tabs li						{ border:0; width:100%; display:table; vertical-align:middle; height:auto; }
	.regTab .nav-tabs li.active					{ border:0; }
	.regTab .nav-tabs li.active a				{ border:0; color:#0e4492; background-color:#ceeafb; border-radius:0; height:100%; border-left:solid 3px #61b2e5; }
	.regTab .nav-tabs li.active a:hover			{ border:0; color:#0e4492; background-color:#ceeafb; border-radius:0; height:100%; border-left:solid 3px #61b2e5; }
	.regTab .nav-tabs li a						{ border:0; color:#333; background-color:#ddd; padding:15px 30px; border-left:solid 3px #ddd; width:100%; border-radius:0; }
	.regTab .nav-tabs li.active	span			{ display:block; padding:12px 55px; }
	.regTab .nav-tabs li span					{ display:none;  }
	.regTab .nav-tabs li a:hover				{ background-color:#aaa; border-left:solid 3px #aaa; color:#FFF;  }
	
	
	
	
	
}

@media screen and (max-width: 767px) {

	.onlySmartBoo						{ }
	.onlyPCBoo							{ display:none !important; }

	
}
